<?xml version="1.0"?>

<!-- Insert customization below: sample provided  -->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="test_red_hat">
  <xacro:macro name="test_red_hat">

    <link name="bowler_link">
      <visual>
        <geometry>
          <mesh filename="package://husky_description/meshes/custom/red_bowler.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0.07" rpy="0 0 0" />
        <geometry>
          <box size="0.32 0.25 0.14" rpy="0 0 0"/>
        </geometry>
      </collision>
    </link>

    <joint name="bowler_joint" type="fixed">
      <parent link="top_plate_link" />
      <child link="bowler_link" />
      <origin xyz="0.1 -0.1 0" rpy="0 0 0.5" />
    </joint>

  </xacro:macro>
</robot>
